<template>
  <v-runtime-template :template="$store.getters.page(this.$router.currentRoute.path)"></v-runtime-template>
</template>
<script>
import Vue from 'vue'

import store from '../store'

export default {
  data() {
    return {
      // temp: page(this.$router.currentRoute.path)
    }
  },
  computed: {

  },
  methods: {
    
  },
}
</script>

