<template>
  <v-runtime-template :template="$store.getters.page(this.$router.currentRoute.path)"></v-runtime-template>
</template>

<script>
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    HelloWorld
  },
  data() {
    return {
      temp: ''
    }
  },
}
</script>
